html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ubuntu&display=swap');

.App {
  text-align: center;
  background-image: linear-gradient(to left top, #f6cb65, #fda085 100%);
  /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
  min-height: 100vh;
}

h1, h2, h3, p, ul, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

li {
  list-style: none;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Satisfy', cursive;
}

h2 {
  font-size: 1.1rem;
}

h3 {

}

h1, h2{
  color: white;
}

h2, h3, p, a, label {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  /* padding: 10px; */
  display: inline-block;
  color: black;
  border-bottom: 2px solid navy;
}

a:hover {
  border-top: 2px solid navy;
  border-left: 2px solid navy;
  border-right: 2px solid navy;
  transition: 0.3s ease;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 85%; 
  margin: 0 auto;
}

header {
  padding: 80px 0px;
}

.label-search-container, .drop-down-cuisine {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.drop-down-cuisine {
  margin-top: 40px;
}


.label-search-container label, .drop-down-cuisine label {
  margin-right: 3%;
  color: white;
  font-size: 1.4rem;
}

input, .drop-down-cuisine select, button {
  border: none;
  border-radius: 10px;
  background-color: white
}

input, .drop-down-cuisine select {
  height: 40px;
}

input {
  width: 330px;
}

button {
  margin: 60px 0px;
  padding: 10px;
}

main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card {
  border-radius: 10px;
  /* border: 1px solid white;
  background: white; */
  padding: 20px;
}

/* .recipe-card p, .recipe-card a {
  color: #fda085;
} */

.recipe-card > * {
  margin-bottom: 10px;
}

li:hover, li:focus {
  transform: scale(1.1);
  cursor: pointer
  
}

main li {
  width: calc(100% / 4 - 160px);
  min-width: 260px;
  /* background-color: #fff; */
  border-radius: 15px;
  margin: 60px 20px 40px;
  padding: 15px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.3);
  /* background: rgba(255, 255, 255, 0.1); */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

main img {
  width: 100%;
  border-radius: 10px;
}

footer {
  padding: 55px 0px;
}

footer p {
  margin: 0 auto;
  color: white;
}




@media (max-width: 775px) {
  .label-search-container, .drop-down-cuisine {
    flex-direction: column;
    justify-content: center;
  }

  label {
    margin-right: 0%;
  }

  input, .drop-down-cuisine select {
    align-self: center;
    margin-top: 35px;
  }

  .drop-down-cuisine select {
    width: 330px;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: calc(2.7rem + 0.5vw);
    margin-bottom: 20px;
  }

  label, input, .drop-down-cuisine select {
    width: 100%;
  }
}


@media (max-width: 350px) {
  label {
    font-size: calc(1rem + 1.9vw);
  }

}

@media (max-width: 320px) {
  h1 {
    font-size: calc(2.4rem + 0.2vw);;
  }
  label {
    font-size: calc(1rem + 1.4vw);
  }
}


